.meal {
  width: 100%;
}

.meal__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.meal__list__item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.meal__message {
  text-align: center;
  font-weight: bold;
}
